@page
@model MyLuck.UI.Pages.ProfileModel

<section class="section">
    <div class="container">
        <h1 class="title">Profile</h1>
        <fieldset disabled>
            <div class="field">
                <label class="label">Nickname</label>
                <div class="control">
                    <input class="input"
                           type="text"
                           value="@Model.NickName"
                           placeholder="NickName input" />
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input"
                           type="email"
                           value="@Model.Email"
                           placeholder="Email input" />
                </div>
            </div>
        </fieldset>
    </div>
</section>

@{
}
