<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; @DateTime.Now.Year - <a href="https://fabiocosta.eu" target="_blank">Fábio Costa</a>
        </p>
    </div>
</footer>