@using MyLuck.Infrastructure.Features.Key;

<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            My numbers:
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            @foreach(Key key in _keys)
            {
                @if (key.Numbers is not null)
                {
                    <ul>
                        @foreach (int number in key.Numbers)
                        {
                            <li>@number</li>
                        }
                    </ul>
                }
                @if (key.SpecialNumbers is not null)
                {
                    <span>+</span>
                    <ul>
                        @foreach (int specialNumber in key.SpecialNumbers)
                        {
                            <li>@specialNumber</li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>
