@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">MyLuck</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu-list">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-menu-list" class="navbar-menu">
        <div class="navbar-start">
            @foreach(KeyValuePair<string, string> item in _items)
            {
                <a class="navbar-item" href="@item.Value">
                    @item.Key
                </a>
            }
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                
                @if (ClaimsUser?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="button is-primary" href="/account/profile">
                        <strong>Hello @ClaimsUser.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value!</strong>
                    </a>
                    <a class="button is-primary" href="/account/logout">
                        <strong>Logout</strong>
                    </a>
                }
                else
                {
                    <a class="button is-primary" href="/account/profile">
                        <strong>Log in</strong>
                    </a>
                }
            </div>
        </div>
    </div>
</nav>