<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            @foreach (string headerItem in Header)
            {
                <th>@headerItem</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < NormalValues.Count; row++)
        {
            <tr>
                <td>@Dates[row]</td>
                @for (int col = 0; col < NormalValues[row].Length; col++)
                {
                    <td>@NormalValues[row][col]</td>
                    <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Keys param-Number=@NormalValues[row][col] param-Special="false" />
                }
                @for (int col = 0; col < SpecialValues[row].Length; col++)
                {
                    <td>@SpecialValues[row][col]</td>
                    <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Keys param-Number=@SpecialValues[row][col] param-Special="true" />
                }
            </tr>
        }
    </tbody>
</table>