@page
@using MyLuck.Infrastructure.Features.Lotto;
@model MyLuck.UI.Pages.LottoModel

<section class="sectio">
    <div class="container">
        <h1 class="title">Lotto</h1>

        <section class="mb-3">
            <component type="typeof(Components.MyNumbers)" render-mode="ServerPrerendered" param-Keys=@Model.Keys />
        </section>

        <h2 class="title is-4">Results</h2>

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>Special</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lotto in Model.Lottos)
                {
                    <tr>
                        <td>@lotto.DrawTime.ToShortDateString()</td>
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number1 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number2 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number3 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number4 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number5 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Number6 param-Special="false" />
                        <component type="typeof(Components.BoldNumber)" render-mode="ServerPrerendered" param-Keys=@Model.Keys param-Number=@lotto.Special param-Special="true" />
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

@{
    
}
