@page "/"
@attribute [StreamRendering]
@inject IEuroDreamsRepository EuroDreamsRepository

<PageTitle>EuroDreams</PageTitle>

<div class="container">
    <h1>EuroDreams results</h1>

    <div class="row text-center">
        @if (_euroDreams == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Numbers</th>
                        <th scope="col">Dream Number</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var euroDream in _euroDreams)
                    {
                        <tr scope="row">
                            <td>@euroDream.DrawTime.ToString("dd-MM-yyyy")</td>
                            <td>@euroDream.Numbers.Aggregate(string.Empty, (current, number) => current + (number + " "))</td>
                            <td>@euroDream.SpecialNumbers[0]</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code
{
    private IEnumerable<EuroDreams>? _euroDreams;

    protected override async Task OnInitializedAsync()
    {
        _euroDreams = await EuroDreamsRepository.GetAll(CancellationToken.None);
    }
}